<body>
    <div class="register-container container main">
      <div class="spinner" id="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
          <div class="row">
            <div class="iphone span3">
          </div>
            <div class="register span6">

                <% if flash[:notice] -%>
                  <div class="alert alert-error" style="width:100%; margin-left: -1%; margin-top: -1%;"><%= flash[:notice] %></div>
                <% end %>

                <%= form_tag("/admin_login", method: "get") do%>
                  <h2>LOGIN AS<span class="blue"> <strong> ADMIN</strong></span></h2>

                    <%= text_field_tag :username, nil, :required => true, :class => 'full', :placeholder => "Username"%>
                    <%= password_field_tag :password, nil,  :required => true, :class => 'full', :placeholder => "Password"%>

                  <button id="register-button">LOGIN</button>
                <% end %>

            </div>
          </div>
    </div>
</body>
